@page "/"
@using BlazorWasm.Shared.Components

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MySharedComponent Title="Welcome to the shared component library in Blazor!"></MySharedComponent>

<ShareComponent Title="Medialesson" Text="Blazor Share Component by Medialesson" Url="@Url"></ShareComponent>

@code {
    private string Url = "https://medium.com/@@mariusschroeder/web-assembly-custom-component-web-share-bdca5a68de88";
}